.dashboard-container {
  display: flex;
  flex-direction: row;
}

.bar-chart-container {
  margin-right: 20px; /* Adjust spacing between components */
}

.correlation-matrix-container {
  flex: 1; /* Make the correlation matrix container fill the remaining space */
}
